.advantages__label {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages__description {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin-top: 10px;
}

.advantages__list {
    display: flex;
    align-items: center;
}

.advantages__item {
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.advantages__thumb {
    background-color: #f5f4fa;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}