.team {
    background-color: #f5f4fa;
}

.team-list-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team-specialist {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-specialist-description {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.team-title {
    margin-bottom: 50px;
}

.team-list {
    display: flex;
    align-items: center;
}


.team-card-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-social-list-item:not(:last-child) {
    margin-right: 10px;
}

.team-social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-social-link {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #afb1b8;

    transition: background-color var(--timing-duration) var(--timing-function), color var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        color: #ffffff;
    }
}

.team-icon {
    fill: currentColor;
}

