.footer {
    background-color: var(--secondary-font-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-accent-footer {
    color: #ffffff;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 20px;
}

.address-list-location {
    color: #ffffff;
}

.address-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.social-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.left-part {
    flex-grow: 1;
    margin-right: 70px;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--timing-duration) var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.footer-icon {
    fill: #ffffff;
}

.right-part {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-part {
    margin-right: 93px;
}